.button-with-text {
    padding: 10px;

    border-radius: 5px;

    background-color: royalblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: white;
    text-decoration: none;
}