.filter-options-container {
    width: 15%;
    padding: 10px;

    border-radius: 5px;

    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

.filter-options {
    display: flex;
    flex-direction: column;
}