.doc-item {
    display: flex;
    flex-direction: column;

    margin: 10px;
}

.doc-item-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;

    padding: 10px;

    box-shadow: 0 0 1px black;
    border-radius: 5px;
    background-color:white;
}

.doc-item-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.doc-item-buttons img {
    width: 20px;
    height: 20px;
}