.doc-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px;
    margin: 10px;

    box-shadow: 0 0 1px black;
    border-radius: 5px;
    background-color:white;
}