.report-paragraph {
    display: flex;
    flex-direction: column;

    margin: 10px 0;
}

.paragraph-field {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.paragraph-text {
    flex: 1;
    margin-right: 20px;   
    margin-left: 20px;

    display: flex;
    align-items: center;

    text-align: justify;

    border-top: 2px solid whitesmoke;
    border-bottom: 2px solid whitesmoke;
}

.paragraph-actions {
    display: flex;
    flex-direction: row;
    align-items: center;  

    padding: 5px 10px;

    background-color: whitesmoke;
    border-radius: 5px;
}

.paragraph-buttons {
    display: flex;
    flex-direction: column;
}

.paragraph-buttons button {
    padding: 2px 5px;
    margin: 5px 0;

    background-color: white;
    border: none;

    cursor: pointer;
}

.paragraph-buttons button:hover {
    background-color: rgb(220, 220, 220);
}

.paragraph-article {
    display: flex;
    flex-direction: column;
}

.paragraph-article button {
    margin-top: 5px;
    padding: 5px;

    background-color: white;
    border: solid 2px whitesmoke;
    border-radius: 3px;

    cursor: pointer;
}

.paragraph-article button:hover {
    background-color: whitesmoke
}

.paragraph-articleinfo {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 5px 10px;

    width: 200px;

    text-align: left;
    background-color: whitesmoke;
    border-radius: 5px;
}

.variants-counter {
    margin-right: 5px;
}