nav {
    padding: 0 20px;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}



.navbar-options {
    display: flex;
}

.logo {
    color: royalblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}
