.panel {
    padding: 10px;
    position: relative;
    top:-3px;
    z-index: 0;

    display: flex;
    justify-content: space-between;

    box-shadow: 0 0 1px black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    background-color:whitesmoke;
}

.authors-list {
    display: flex;

}