.home-page {
    display: flex;
    flex-direction: column;
}

.home-cards-container{
    display: flex;
    justify-content: space-between;
}

.home-page h1 {
    padding: 50px 0;

    border-radius: 10px;
    background-color: white;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
    font-weight: lighter;
    text-align: center;
}